[settings]
python.uv_venv_auto = true

[tools]
uv = "0.9.9"
ruff = "0.14.5"

[tasks.test]
description = "Run tests for core package"
run = "uv run pytest pkg/core"

[tasks.lint-format]
description = "Lint and format all packages"
run = ["ruff format . && ruff check --fix ."]

[tasks.update]
description = "Update dependencies for all packages"
alias = "u"
run = "uv sync -U"

[tasks.export-deps]
description = "Export production dependencies for core"
run = "uv export --format requirements-txt --no-hashes --no-header --no-dev --no-annotate --output-file requirements.txt"
dir = "pkg/core"

[tasks.build-core]
description = "Build core package"
run = "uv build"
dir = "pkg/core"
